<ion-view view-title="{{ Strings.titles.info }}">
    <ion-content>
        <img class="banner" src="images/banner.jpg" />
        <div class="main-content padding">
            <p>{{ Strings.messages.welcome }}</p>

            <strong>{{ Strings.info.aboutTheApp.title }}</strong>
            <p>{{ Strings.info.aboutTheApp.content }}</p>

            <strong>{{ Strings.info.howDoesItWork.title }}</strong>
            <p>{{ Strings.info.howDoesItWork.content }}</p>
        </div>
    </ion-content>
</ion-view>