<ion-view view-title="{{ Strings.titles.overview }}">
    <ion-content>
        <div class="main-content">
            <div class="list">
                <div class="item item-repair" ng-click="selectAppointment(appointment, $index)" ng-repeat="appointment in appointments">
                    <i class="icon icon-block ion-wrench icon-green"></i>
                    <strong ng-if="appointment.startDateTime.getTime() > 0">
                        {{ [Strings.weekDays[appointment.startDateTime.getDay()], appointment.startDateTime.getDate(), Strings.months[appointment.startDateTime.getMonth()], appointment.startDateTime.getFullYear()].join(' ') }}
                        {{ appointment.startResponseWindow.substring(0, 5) }} - {{ appointment.endResponseWindow.substring(0, 5) }}
                    </strong>
                    <strong ng-if="appointment.startDateTime.getTime() === 0">
                        {{ Strings.appointment.toBePlanned }}
                    </strong>
                    <br />
                    <span class="extra-black">{{ appointment.location }}</span>
                </div>
                <div class="item" ng-hide="appointments.length">
                    <i class="icon icon-block ion-alert icon-red"></i>
                    <strong>{{ Strings.appointment.none }}</strong>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>