<ion-view view-title="{{ Strings.titles.success }}">
    <ion-content>
        <img class="banner" src="images/banner.jpg" />
        <div class="main-content">
            <div class="padding">
                <strong>{{ title }}</strong>
                <p>{{ Strings.success.intro }}</p>
                <p>{{ message }}</p>
                <p>{{ Strings.success.thanks }}</p>
                <p>{{ Strings.success.greetings }}</p>
                <p>{{ Strings.success.owner }}</p>
            </div>
            <a ui-sref="home" class="button button-block button-balanced">{{ Strings.buttons.goHome }}</a>
        </div>
    </ion-content>
</ion-view>